{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    body: {
        background-color: #d24dff;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Кластеризация</h1>

<canvas id="myChart" width="600" height="600"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                         maintainAspectRatio: false,
                         responsive: false,
                         elements: {
                            line: {
                                tension: 0
                            }
                        }
                    }
                });
            });
        </script>
</body>
</html>